@media (max-width: 747px) {
  .container {
    display: flex;
    flex-direction: column;
    border: none;
    width: 100vh;
  }
  .para-text {
    margin-top: 20px;
  }
  .para {
    display: block;
    padding: 15px 7px;
  }
  .goals,
  .team,
  .timeline,
  .scopes,
  .primary {
    border: 10px solid blue;
  }
  .layout {
    display: flow-root;
  }
  h3 {
    font-size: 40px;
  }
  td,
  li,
  p {
    font-size: 30px;
  }
  .icon {
    height: 40px;
    width: 40px;
  }
  span {
    padding: 20px;
    font-size: 30px;
  }
  h4 {
    font-size: 35px;
  }
}
