* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
span {
  line-height: 1.6;
}
/* BANNER*/
.banner {
  position: relative;
  text-align: center;
  color: white;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  width: 100%;
}
/* PHẦN NAVBAR*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #adb5bd;
}
a {
  text-decoration: none !important;
  color: #000;
  padding: 14px 16px;
  font-size: 17px;
  text-align: center;
  border-left: 0.5px solid #adb5bd;
  border-right: 0.5px solid #adb5bd;
  cursor: pointer;
}
.container {
  justify-content: center;
}
.container i {
  color: #4dabf7;
}
.icon i {
  color: #4dabf7;
}
.name {
  padding: 0 30px;
}
.name-small {
  font-size: 14px;
  text-align: center;
  color: #868e96;
}
.name-big {
  color: #495057;
  font-size: 24px;
}
/* PHẦN THÔNG TIN CÁ NHÂN*/
.bg-grey {
  display: flex;
}
h2 {
  margin-bottom: 30px;
  text-align: center;
}
.target {
  flex: 1;
  background-color: #dee2e6;
}
.target p {
  line-height: 1.5;
  color: #495057;
  margin-left: 10px;
}
.personal-info {
  flex: 1;
  background-color: #ced4da;
}

.personal-info ul {
  list-style: none;
  padding-left: 35%;
}
span {
  font-weight: 500;
  font-size: 17px;
}
.icon {
  text-align: center;
  margin-top: 20px;
}
/*PHẦN THÔNG TIN NGHỀ NGHIỆP*/
.information {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.information i {
  color: #ced4da;
  font-size: 30px;
}
/*EXPERIENCE*/
.experience {
  flex-basis: 30%;
  border: 0.5px solid #adb5bd;
}
.experience-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}
.experience-1 {
  flex-basis: 65%;
  margin-top: 12px;
  font-weight: bold;
}
.experience-icon {
  flex-basis: 25%;
}
.marui-1 {
  width: 20px;
  height: 14px;
  border-radius: 50%;
  background-color: #4dabf7;
  display: inline-block;
  border: 1px solid #fff;
  margin: 0 16px;
}
.marui {
  display: flex;
  justify-content: space-evenly;
}
.now {
  font-style: italic;
  background-color: #4dabf7;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
.marui-1 p {
  font-weight: 500;
}
.font {
  color: #868e96;
  font-size: 16px;
}
.whiteter {
  padding: auto;
  line-height: 1.2;
}
.batru {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.batru-1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4dabf7;
  display: inline-block;
  border: 2px solid #fff;
  margin-right: 5px;
}
.blacker {
  margin-top: 20px;
  line-height: 1, 2;
}
/*SKILL*/
.skill {
  flex-basis: 30%;
  border-left: 0.5px solid #adb5bd;
  border: 0.5px solid #adb5bd;
}
.skill-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}
.skill-1 {
  flex-basis: 65%;
  margin-top: 12px;
  font-weight: bold;
}
.skill-icon {
  flex-basis: 25%;
}
.lay {
  background-color: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}
.lay-1 {
  background-color: #adb5bd;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}
.skill span {
  margin: 10px;
}
.skill p {
  margin: 10px;
}
.language {
  flex-basis: 30%;
  border: 0.5px solid #adb5bd;
}
.language-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}
.language-1 {
  flex-basis: 65%;
  margin-top: 12px;
  font-weight: bold;
}
.language-icon {
  flex-basis: 25%;
}
.language span {
  margin: 10px;
}
.language p {
  margin: 10px;
}
/*ACTIVE EDUCATION INTERESTS*/
.shared {
  display: flex;
  padding-top: 30px;
  justify-content: space-evenly;
}
.shared i {
  color: #ced4da;
  font-size: 30px;
}
/*ACYIVE*/
.active {
  flex-basis: 30%;
  border: 0.5px solid #adb5bd;
}
.active-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}
.active-1 {
  flex-basis: 65%;
  margin-top: 12px;
  font-weight: bold;
}
.active-icon {
  flex-basis: 25%;
}
.brem {
  display: flex;
}
.brem-1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4dabf7;
  display: inline-block;
  margin: 0 0 5px 10px;
}
.brem-text {
  padding-left: 20px;
}
.hear {
  margin-top: 20px;
}
.clb {
  display: flex;
  margin-top: 20px;
}
.clb-text {
  margin-left: 20px;
}

/*EDUCATION*/
.education {
  flex-basis: 30%;
  border: 0.5px solid #adb5bd;
}
.education-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}
.education-1 {
  flex-basis: 65%;
  margin-top: 12px;
  font-weight: bold;
}
.education-icon {
  flex-basis: 25%;
}
/*INTERESTS*/
.interests {
  flex-basis: 30%;
  border: 0.5px solid #adb5bd;
}
.intersets-container p {
  flex-basis: 65%;
  margin-top: 12px;
  font-weight: bold;
}
.intersets-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
}
.interests-icon {
  flex-basis: 25%;
}
.suki {
  display: flex;
}
.sukiya i {
  width: 50px;
  color: #199cdb;
  font-size: 26px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 50px;
}
.sukiya {
  width: 25%;
  text-align: center;
}
.sukiya span {
  display: inline-block;
  margin: 2px;
  color: #868e96;
}
/*CERTIFICATES AND AWARDS*/
.certificates_awards {
  background-color: #e9ecef;
  margin: 50px 0;
}
.certificates_awards img {
  height: 100px;
  width: 200px;
}
.boot {
  display: flex;
  padding: 0 0 50px 50px;
  border-bottom: 1px solid #d6c08d;
}
.text-1 {
  font-size: 24px;
  font-weight: 400;
  padding: 50px;
}
.certificates-container {
  display: flex;
  justify-items: auto;
  flex-basis: 40%;
}
.certificates {
  padding-right: 20px;
}
.tect {
  padding-left: 20px;
  font-size: 16px;
}
.imess {
  border-left: 1px solid #d6c08d;
  flex-basis: 40%;
  padding-left: 10px;
}
.imess-container {
  display: flex;
  justify-items: auto;
}
.imess-tect {
  padding-left: 20px;
  font-size: 16px;
}
.awards {
  padding: 20px 50px;
}
.awards-container {
  display: flex;
  justify-items: auto;
}
.awards-tect {
  padding-left: 20px;
  font-size: 16px;
}
/*PROJECT*/
.project {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}
.anlpha {
  margin-left: 50px;
  font-size: 24px;
}
.individual-container {
  flex-basis: 30%;
  border: 1px solid #adb5bd;
  display: grid;
}
.individual {
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #adb5bd;
  color: #868e96;
}
.bem {
  border-bottom: 1px solid #adb5bd;
  padding: 10px 0;
  color: #868e96;
  padding-left: 10px;
}
.bem span {
  background-color: #199cdb;
  color: #fff;
  border-radius: 16px;
  padding: 8px;
}
.pet-container {
  flex-basis: 30%;
  border: 1px solid #adb5bd;
  display: grid;
}
.news-container {
  flex-basis: 30%;
  border: 1px solid #adb5bd;
  display: grid;
}
.brick {
  border-bottom: 1px solid #adb5bd;
}
.end a {
  border-right: none;
  border-left: none;
}
.end {
  background-color: #dee2e6;
  text-align: center;
  padding: 40px;
}
.end i {
  background-color: #199cdb;
  border-radius: 50%;
  color: #fff;
}
.end span {
  color: #adb5bd;
}
.end a {
  text-decoration: none;
}
.project-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.project-unix {
  padding: 2px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #adb5bd;
}
.project-container p {
  flex-basis: 60%;
  margin-left: 50px;
  color: #868e96;
  line-height: 1.6;
}
.project-container span {
  flex-basis: 30%;
  text-align: center;
  color: #868e96;
}
/*ANIMATION*/
h1 {
  position: relative;
  animation: mymove 5s;
}
.text span {
  position: relative;
  animation: mimove 5s;
}
@keyframes mymove {
  0% {
    left: -250%;
    color: #199cdb;
  }
  25% {
    color: greenyellow;
  }
  50% {
    color: orangered;
  }
  75% {
    color: rebeccapurple;
  }
  100% {
    color: white;
    left: 0px;
  }
}
@keyframes mimove {
  0% {
    right: -250%;
    color: #199cdb;
  }
  25% {
    color: greenyellow;
  }
  50% {
    color: orangered;
  }
  75% {
    color: rebeccapurple;
  }
  100% {
    color: white;
    right: 0px;
  }
}
