@media (max-width: 747px) {
  .container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .name {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  nav a {
    border: none;
  }
  .text span {
    font-size: 12px;
  }
  .container a {
    text-align: start;
  }
  .bg-grey {
    display: grid;
  }
  .target {
    padding-bottom: 30px;
  }
  .personal-info ul {
    padding-left: 20px;
  }
  .target p {
    margin: 0 10px;
  }
  .information {
    display: grid;
    padding: 10px;
    gap: 20px;
  }
  .shared {
    display: grid;
    padding: 10px;
    gap: 20px;
  }
  .certificates_awards {
    margin: 15px 0;
  }
  .text-1 {
    padding: 40px;
  }
  .boot,
  .certificates-container,
  .imess-container,
  .awards-container,
  .project {
    display: grid;
    gap: 20px;
  }
  .boot {
    padding: 0;
  }
  .imess {
    border-left: none;
    padding: 0;
  }
  .certificates {
    border-bottom: 1px solid #d6c08d;
  }
  .awards {
    padding: 20px 0;
    border-bottom: 1px solid #d6c08d;
  }
  .project {
    padding: 20px;
  }
  .end,
  .end a {
    display: flex;
    justify-content: center;
  }
  .end {
    padding: 15px;
  }
  .end a {
    padding: 12px 14px;
  }
}
