@media (min-width: 748px) and (max-width: 1023px) {
  * {
    font-family: sans-serif;
  }
  .icon {
    height: 35px;
    width: 35px;
  }
  .container {
    display: flex;
    flex-direction: column;
    border: none;
    width: 100vh;
  }
  .para-text {
    margin-top: 20px;
  }
  .layout {
    display: flow-root;
  }
  .para {
    display: block;
  }
  .goals,
  .team,
  .timeline,
  .scopes,
  .primary {
    border: 10px solid blue;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
}
